/* You can add global styles to this file, and also import other style files */

body {
    padding-top: 60px;
}

.break-word {
    word-break: break-all;
}

.comment-list {
    height: 50vh;
    overflow-y: auto;
}

.cursor-pointer {
    cursor: pointer;
}